.form-container {
  display: flex;
  gap: 20px;
  padding-top: 150px;
  justify-content: center;
}

.book-title {
  width: 41rem;
  height: 2.813rem;
  text-align: start;
}

.book-author {
  width: 17rem;
  height: 2.813rem;
}
